In [1]:
import pandas as pd
import json

In [2]:
num_classes = str(json.load(open('config.json'))['num_classes'])
dataset_file_name = 'human_dataset_' + num_classes + '.txt'
human_data = pd.read_table('../Datasets/' + dataset_file_name)
print(f"Human dataset has a total of {human_data.shape[0]} patterns")

Human dataset has a total of 4140 patterns

In [3]:
if num_classes == '7':
    class_names = [
        'G Protien Coupled Receptors',
        'Tyrosine Kinase',
        'Tyrosine Phosphatase',
        'Synthetase',
        'Synthase',
        'Ion Channel',
        'Transcription Factor'
    ]
else:
        class_names = [
        'G Protien Coupled Receptors',
        'Tyrosine Kinase',
        'Tyrosine Phosphatase',
        'Synthetase',
        'Synthase',
        'Transcription Factor'
    ]

In [4]:
df = human_data.groupby('class').count().reset_index()
df['Class Name'] = class_names

df.rename(columns={'class': 'Class Label', 'sequence': 'Count'}, inplace=True)
df = df.reindex(columns=['Class Label', 'Class Name', 'Count'])
df = df.style.set_properties(**{'text-align': 'center'})
df = df.set_table_styles([dict(selector = 'th', props=[('text-align', 'center')])])
df