In [1]:
import pandas as pd

In [3]:
class_labels = {
    0 : 'G Protien Coupled Receptors',
    1 : 'Tyrosine Kinase',
    2 : 'Tyrosine Phosphatase',
    3 : 'Synthetase',
    4 : 'Synthase',
    5 : 'Ion Channel',
    6 : 'Transcription Factor'
}

G Protien Coupled Receptors

In [4]:
human_data = pd.read_table('../Datasets/human_dataset.txt')
human_data.groupby('class').count()

       sequence
class
0           531
1           534
2           349
3           672
4           711
5           240
6          1343